<!DOCTYPE html>
<html lang="en">
	<head>
		<title>phpDNSAdmin</title>
		<!-- Bootstrap -->
		<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="resources/css/bootstrap-responsive.min.css" rel="stylesheet">
		<style type="text/css">
			html, body {
                height: 100%;
			}
			body {
				margin-top: 5px;
			}
			.zones .icon-chevron-right {
				opacity: 0.25;
			}
			.sidebar-outer-box {
				position: relative;
				height: 100%;
			}
			.sidebar-inner-box {
				overflow: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}
            .accordion-heading {
                background-color: #f2f2f2;
            }
		</style>
	</head>
	<body>
		<div class="container" style="height: 100%; min-height: 100%;">
			<div class="row-fluid">
				<div class="span12 well">
                    <h1 class="pull-right">phpDNSAdmin</h1>					
				</div>
			</div>
			<div class="row-fluid" style="height: 76%;">
				<div class="span3 sidebar-outer-box">
					<div class="well sidebar-nav sidebar-inner-box" id="serverloadingbox">
						<h4>Servers</h4>
						<div id="serverviewbox">
						</div>
					</div>
				</div>
				<div class="span9 sidebar-outer-box">
					<div class="well sidebar-inner-box">
						...
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 pull-right well well-small">
					<a href="https://github.com/MatthiasLohr/phpDNSAdmin">
						<h6 class="pull-right">&copy; phpDNSAdmin</h6>
					</a>
				</div>
			</div>
		</div>
	<!-- Templates-->
	<!-- Template for Serverview -->
    <script type="text/template" id="serverViewTemplate">
	</script>
	<script type="text/template" id="serverItemViewTemplate">
        <div class="accordion-heading">
            <span class="accordion-toggle" data-toggle="collapse" data-parent="#accori" href="#collapse_<%= sysname %>">
                <%= name %>
            </span>
        </div>
        <div id="collapse_<%= sysname %>" class="accordion-body collapse">
            <div class="accordion-inner">
                Zone 1<br />
            </div>
        </div>
	</script>
    <script type="text/template" id="noServerItemViewTemplate">
        <div class="accordion-heading">
            <span class="accordion-toggle" data-parent="#accori">
                No Servers
            </span>
        </div>
	</script>
    <script type="text/template" id="loginViewTemplate">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
        </form>
    </script>
	<!-- Libs -->
	<script src="resources/js/libs/jquery-1.9.1.min.js"></script>
	<!-- <script src="http://underscorejs.org/underscore-min.js"></script> -->
    <script src="resources/js/libs/jquery.validate.min.js"></script>
	<script src="resources/js/libs/underscore-min.js"></script>
	<script src="resources/js/libs/backbone-min.js"></script>
	<script src="resources/js/libs/bootstrap.min.js"></script>
	<script src="resources/js/libs/spin.min.js"></script>
	<script src="resources/js/libs/jquery-spinner.js"></script>
    <script src="resources/js/libs/json2.min.js"></script>
    <script src="resources/js/libs/backbone.marionette.min.js"></script>
    <script src="resources/js/libs/backbone.bootstrap-modal.js"></script>
	<!-- Config -->
	<script src="resources/js/config.js"></script>
	<!-- Include Models -->
    <script src="resources/js/models/authentication.js"></script>
	<script src="resources/js/models/server.js"></script>
	<script src="resources/js/models/zone.js"></script>
	<!-- Include Views -->
    <script src="resources/js/views/loginview.js"></script>
	<script src="resources/js/views/serverview.js"></script>
	<script src="resources/js/views/zoneitemview.js"></script>
	<script src="resources/js/views/zoneview.js"></script>
	<script src="resources/js/views/appview.js"></script>
    <!-- Include AppRouter -->
    <script src="resources/js/router/mainrouter.js"></script>
	<!-- Run -->
	<script type="text/javascript">
		$(document).ready(function() {
            // Create App
            DNSApp = new Backbone.Marionette.Application();
            
            // Add Regions
            DNSApp.addRegions({
                serverRegion: "#serverviewbox",
                loginRegion: "#loginModal"
            });
            
            // Initializer which creates all Views
            DNSApp.addInitializer(function(options){                
                var serverView = new ServerView({
                    collection: options.serverModel
                });
                DNSApp.serverRegion.show(serverView);
                // Just for Debug
                setTimeout(function() {
				    serverView.loadServers();
                }, 2000);
                console.log('init Views');
            });
            
            // Initializer which create Router and start it
            DNSApp.addInitializer(function(options){
                new MainRouter();
                Backbone.history.start()
                console.log('init Routers');
            });
            
            // Error Handling
            DNSApp.vent.on('error', function(error) {
                console.log('error', error);
            });
            
            var options = {
                serverModel: new Servers()
            };
            
            DNSApp.start(options);
		});
	</script>
	</body>
</html>